{% extends "base.html.twig" %}

{% block title %}
    Churches Page
{% endblock %}

{% block body %}
    <h1>
        {{title}}
    </h1>

    {% for church in churches %}
        <li>{{ church.name }}</li>
    {% endfor %}
{% endblock %}